<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/resources/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">

    <script>

        $(document).ready(function () {

            $('.btn-delete').on('click', function () {
                var userId = $(this).attr('data-id');

                if (confirm("Do you want to delete?")) {
                    window.location = 'http://localhost:8080/users/delete/' + userId;
                }

            });

        });

    </script>

</head>
<body>

<!--[[${userList1}]]-->
<!--[[${userList}]]-->


<!--<h1 style="color: red;" th:text="${userList}"></h1>-->

<a href="/product/add" th:text="#{addnew}" class="btn btn-primary">Add new</a>

<a href="?lang=km" class="btn btn-danger">Khmer</a>
<a href="?lang=en" class="btn btn-danger">English</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" th:text="#{table.id}">#</th>
        <th scope="col" th:text="#{table.profile}">Profile</th>
        <th scope="col" th:text="#{table.name}">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <th scope="row" th:text="${p.getId()}"></th>
        <td>
            <img th:each="proImage : ${p.getProImages()}"
                 th:src="|/images/${proImage}|"
                 style="width: 75px; height: 75px; border: 1px solid red ; margin-right: 5px;" alt="">
        </td>
        <td th:text="${p.getName()}"></td>
        <td th:text="${p.getPrice()}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>